body {
    margin: auto;
    background-color: rgba(51, 53, 52, 0.8);
}

:root {
    --main-font-size: 10px;
}

html {
    font-size: var(--main-font-size);
}

.bascet {
    width: 80rem;
    min-height: 50rem;
    background-color: #fff;
    border-radius: 7px;
    font-family: 'Montserrat', sans-serif;
    margin: 5rem auto;
    padding: 3rem;
}

.header_bascet {
   position: relative;
}

.header_bascet_name {
    font-weight: 500;
    font-size: 5rem;
    color: #333; 
}

.header_bascet_group {
    display: flex;
    justify-content: flex-end;
    font-weight: 400;
    font-size: 1.5rem;
    padding: 0 3rem;
    margin-bottom: 1.5rem;
}

.header_bascet_count {
    margin: 0 5.3rem;
}

.header_bascet_cross {
    position: absolute;
    top: -1rem;
    right: -1rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

.main_bascet {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    color: #333;
    gap: 1rem;
}

.card_bascet {
    height: 12rem;
    display: flex;
    justify-content: start;
    align-items: center;
    border: 1px solid #d7d7d7;
    position: relative;
}

.card_bascet_image{
    width: 12rem;
    height: 12rem;
    margin-left: 1rem;
}

.card_bascet_image img{
    width: 100%;
}

.card_bascet_group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 2rem;
}

.card_bascet_name {
    width: 35rem;
}

.card_bascet_count {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    border: 1px solid #d7d7d7; 
    margin-left: 8rem;
}

.btn_minus, .btn_plus {
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    cursor: pointer;
    text-align: center;
    background-color: #fff;
    border: 0;
    margin: 0;
    padding: 0;
}

.count {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_bascet_price {
    font-weight: 600;
    margin-left: 4rem;
}

.card_bascet_cross {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    cursor: pointer;
}

.card_bascet_cross img {
    width: 15px;
}

.footer_bascet {
    padding-top: 3rem;
}

.footer_bascet_group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 2rem;
}

.footer_bascet_name {
    font-weight: 400;
    font-size: 1.5rem;
    margin-right: 3rem;
}

.footer_bascet_price {
    display: flex;
    justify-content: flex-end;
    font-weight: 600;
    font-size: 2.2rem;
    padding: 0 3rem;
}

.footer_bascet_price span{
    margin-right: 0.5rem;
}

.footer_bascet_button {
    display: flex;
    justify-content: flex-end;
    
}

.footer_bascet_button button {
    border: 1px solid #8f1c24;
    border-radius: 5px;
    background-color: #8f1c24;
    padding: 0.7rem 2rem;
    font-weight: 500;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}
