@media (max-width: 1050px) {
    .header_navigation>ul {
        padding: 0;
    }

    .search_box {
        padding-left: 0;
        position: relative;
    }

    .footer {
        font-size: 2rem;        
    }

    .footer_information {
        width: 30rem;        
    }
}

@media (max-width: 990px) {
    .header_navigation>ul>li {
        font-weight: 600;
        font-size: 2.5em;        
    }

    #logo {        
        height: 10rem;
        margin-left: 0;        
    }

    .search {
        width: 25rem;
        height: 3rem;        
    }

    .search_btn {       
        top: 0.5rem;        
    }

    .search_btn img {
        width: 2rem;
        height: 2rem;   
    }

    .logo_bascet {
        width: 4rem;
        height: 4rem;
        padding-right: 2rem;
    }

    .main {        
        font-size: 2.2rem;
    }
}

@media (max-width: 875px) {
    .header_navigation>ul {
        width: 30rem;
    }
}

@media (max-width: 800px) {
    #logo {        
        height: 8rem;  
        margin-right: 1rem;     
    }

    .search {
        width: 20rem;        
    }

    .logo_bascet {
        width: 3rem;
        height: 3rem;
    }

    .logo_bascet_count {      
        left: 2.5rem;
        width: 1.2rem;
        height: 1.5rem;
        font-size: 1.2rem;
    }

    .section_one {
        padding: 1rem;
    }

    .price_min, .price_max {
        width: 4rem;
    }

    .cards {
        justify-content: center;
    }

    .footer {
        display: grid;
        gap: 3rem;  
        text-align: center;     
    }

    .footer_contacts {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .footer_messenger {
        align-items: center;
        grid-column: 1/3;
        grid-row: 2/3;
    }

    .footer_messenger li {
        margin: 0 1rem;
    }

    .footer_information {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .footer_email, .footer_address {
        display: block;
    }
}

@media (max-width: 705px) {
    .filter_checkbox {
        font-size: 1.8rem;
    }

    .price_min, .price_max {
        width: 4rem;
    }
}