body {
    margin: auto;
}

:root {
    --main-font-size: 10px;
}

html {
    font-size: var(--main-font-size);
}

a {
    text-decoration: none;
    color: #000;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    box-shadow: 1px 1px 15px 0 #eee;
    position: sticky;
    top: 0;
    z-index: 1;
    overflow: hidden;
    background-color: #fff;
}

.header_navigation {
    display: flex;
}

.header_navigation>ul{
    width: 40rem;
    display: inherit;
    align-items: center;
    justify-content: space-around;
    margin: 0;
}

.header_navigation>ul>li {
    display: inline;
    font-weight: 500;
    font-size: 3em;
    list-style: none;
    padding: 0 15px;
}

.header_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13rem;
}

#logo {
    display: block;
    height: 100%;
    background-color: hsl(0, 0%, 90%);
}

.header_box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_box {
    padding: 0 4rem;
    position: relative;
}

.search {
    width: 30rem;
    height: 4rem;
    outline: none;
    border: 1px solid #333;
    border-radius: 5.4rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: #333;    
    margin: 0;
    padding: 0 0.5rem 0 4rem;
}

.search_btn {
    color: #333;
    position: absolute;
    top: 1rem;
    left: 5rem;
}

.search_btn img {
    width: 2.5rem;
    height: 2.5rem;   
}

.logo_bascet {
    position: relative;
    width: 4.5rem;
    height: 4.5rem;
    padding-right: 3rem;
    cursor: pointer;
}

.logo_bascet img {
    width: 100%;
}

.logo_bascet_count {
    position: absolute;
    top: 0;
    left: 4rem;
    width: 1.5rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b3252f;
    border-radius: 2px;
    color: #fff;
    font-weight: 600;
    font-size: 1.5rem;
}

.main {
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    color: #333;
    margin: 0;
    background-color: #fff;
}

.section_one {
    height: 42%;
    display: inherit;
    flex-direction: column;
    justify-content: start;
    box-shadow: 1px 1px 10px 0 #eee;
    padding: 2rem;
    position: fixed;
    transform: translate3d(0px, 0px, 0px);
    top: 135px;
    left: 8.8px;
    background-color: #fff;
}

.filter_checkbox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: 400;
    font-size: 2rem;
    margin: 1rem 0 3rem;
}

.filter_checkbox div {
    margin-bottom: 0.5rem;
}

.filter_checkbox input {
    cursor: pointer;
}

.filter_checkbox span {
    margin-left: 1rem;
}

.price_input {
    margin: 1rem 0.5rem;
}

.price_min, .price_max {
    width: 5rem;
}

.reset {
    display: none;
    margin-top: 2rem;
}

.section_two {
    width: 100%;
    margin: 2rem;
}

.cards {
    display: flex;
    align-items: flex-start;
    margin-left: 30rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;    
}

.card {
    width: 28.5rem;
    height: 62rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;    
    font-size: 2rem;
    box-shadow: 1px 1px 10px 0 #eee;
    padding: 2rem;
}

.card_image {
    cursor: pointer;
}

.card_image img{
    width: 100%;
}

.card_name {
    text-align: center;
    cursor: pointer;
}

.card_name:hover {
    color: #b3252f;
}

.card_price {
    font-weight: 900;
    font-size: 2rem;
    margin: 2rem 0;
    color: #93111a;
}

.card_count {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(190, 169, 169);
}

.card_count div {
    width: 4rem;
    height: 2.5rem;
    text-align: center;
}

.card_count button {
    width: 3rem;
    height: 2.5rem;
    font-size: 2rem;
    cursor: pointer;
    margin: 0 1rem;
    text-align: center;
    background-color: #fff;
    border: 0;
    margin: 0;
    padding: 0;
}

.card_button {
    width: 12rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
    background-color: #78181f;
    border: 1px solid #c68286;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;    
    font-weight: 600;
    font-size: 2.5rem;
    padding-top: 3rem;
    box-shadow: 1px 1px 15px 0 #eee;
    background-color: #fff;
}

.footer_contacts {
    display: flex;
    flex-direction: column;
}

.footer_contacts ul {
    list-style: none;
    padding: 0;
}

.footer_contacts li {
    font-weight: 500;
    margin: 1rem;
}

.footer_messenger {
    display: flex;
    flex-direction: column;    
}

.footer_messenger ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.footer_messenger li {
    list-style: none;
}

.footer_information {
    width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer_email, .footer_address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer_email a, .footer_address a {
    font-weight: 500;
    margin: 1rem;
}

.icon {
    width: 3rem;
}
